.MenuToggle{
    position: fixed;
    top: 40px;
    left: 40px;
    background: #fff;
    z-index: 10;
    transition: all .25s ease-in;
    font-size: 30px;
    background: none;
    color: #fff;
    cursor: pointer;
}

.isOpen{
    left: 320px;
}

.MenuToggle:hover{
    opacity: 0.7;
}
